---
# Only the main Sass file needs front matter (the dashes are enough)
---

.reveal {
	section {
    text-align: left;

    h1 {
      text-align: center;
    }
  }
}

.reveal {
	section {
		ul, ol {
			li {
				font-size: 0.8em;
        font-style: italic;
				color: #666;
        list-style-type: circle;
			}
		}
	}
}
